# Environment variables
.env
.env.*

# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib

# Build output
/bin/
/build/
/dist/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.log